---
---
@font-face {
  font-family: "Source Sans";
  src: url("/assets/fonts/sourcesans-regular.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Source Sans";
  src: url("/assets/fonts/sourcesans-bold.woff2") format("woff2");
  font-weight: bold;
}

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  font-family: "Source Sans", sans-serif;
  background-color: var(--background);
  color: var(--text);
  // -webkit-overflow-scrolling: touch;
}
// @media (prefers-color-scheme: dark) {
//   body {
    // background-color: black;
    // color: white;
//   }
// }

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-x: hidden;
  // scroll-snap-type: x mandatory;
  overflow-y: hidden;
  // padding: 0px 10px;
  >div {
    // scroll-snap-align: start;
    height: 100%;
    width: calc(100vw);
    padding: 10px;
    box-sizing: border-box;
    >div {
      width: calc(100vw - 20px);
      height: 100%;
    }
  }
}

@keyframes unfold {
	from {
		transform: translateY(-150%);
	}
  // This fixes a really weird safari bug to do with stacking order :(
  to {
    transform: translateY(0%);
  }
}
#questionBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px;
  z-index: 1;
  background-color: #00000077;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s ease;
  pointer-events: none;
  &.visible {
    opacity: 1;
    pointer-events: all;
    #question div {
      animation: unfold 0.3s ease-in-out;
    }
  }

}
#question {
	width: 360px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	p {
		width: 100%;
		background-color: var(--background);
		font-size: 20px;
		margin: 0;
		padding: 12px 20px;
		text-align: center;
		box-sizing: border-box;
		user-select: none;
		&.bold {
			font-weight: bold;
		}
		&.danger {
			color: #C1272D;
		}
    &.confirm {
			color: var(--grad1);
		}
	}
	div {
		width: 80%;
		box-shadow: 2px 2px 10px -3px #000;
		border-radius: 0px 0px 10px 10px;
		margin-bottom: 10px;
    animation-delay: 0.25s;
    animation-fill-mode: backwards;
    position: relative;
    z-index: 2;
		p {
			cursor: pointer;
			color: var(--text);
      border-bottom: 1px solid #777;
		}
		p:active {
			background-color: #ddd;
		}
		p:last-child {
			border: none;
			border-radius: 0px 0px 10px 10px;
		}
	}
	>p {
		width: 95%;
		font-size: 22px;
		font-weight: bold;
		border-radius: 10px;
		position: relative;
		z-index: 3;
		box-shadow: 2px 2px 10px -3px #000;
	}
}

.default {
	--grad1: #00BF07;
	--grad2: #00805F;
}
.sapphire {
	--grad1: #0090E3;
	--grad2: #005194; //6D47DD
}
.amethyst {
	--grad1: #6D47DD;
	--grad2: #4917D9;
}
.topaz {
	--grad1: #CC8315;
	--grad2: #9C3900;
}
.light {
	--background: white;
	--grey: #888;
	--text: black;
}
.dark {
	--background: #222;
	--grey: #888;
	--text: white;
}
.theme-pair {
	display: flex;
  margin-bottom: 2px;
  >div {
    padding: 0px;
    background-color: transparent;
    border-radius: 12px;
    &.active {
      background: linear-gradient(-45deg, var(--grad2), var(--grad1));
    }
    &:first-child {
      margin-right: -2px;
    }
  }
}
.themes {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.theme-group {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  margin-bottom: 6px;
	p {
		font-weight: bold;
		margin: 0;
	}
	>p:first-of-type {
		font-size: 18px;
		font-weight: bold;
	}
	>p:last-child {
		color: var(--grey);
    margin-top: -4px;
	}
	>div:last-child {
		display: flex;
    margin-top: -2px;
		svg {
			height: 20px;
			width: 20px;
			fill: var(--grad1);
		}
		p {
			margin-left: 5px;
			color: var(--grad1);
		}
	}
}
.theme-card {
	background-color: var(--background, red);
	width: 70px;
	height: 115px;
	margin: 5px;
	border-radius: 10px;
	border: 2px solid #666;
	padding: 7px 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	div {
		&:first-child {
			height: 10px;
			background-color: var(--text, yellow);
			border-radius: 4px;
		}
		&:nth-child(2), &:nth-child(3) {
			height: 15px;
			margin-top: 5px;
			background: linear-gradient(-45deg, var(--grad2), var(--grad1));
			border-radius: 4px;
		}
		&:nth-child(4) {
			height: 17px;
			margin-top: 5px;
			border: 2px solid var(--grey, pink);
			border-radius: 4px;
			box-sizing: border-box
		}
		&:nth-child(5) {
			flex: 1;
			// width: 20px;
			// background-color: purple;
		}
		&:last-child {
			height: 17px;
			width: 130%;
			margin: 0px -5px -10px -8px;
			// background-color: red;
			border-top: 2px solid var(--grey);
		}
	}
}


#infoPaneBackground {
  height: 100vh;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
  transition: background-color 0.25s ease;
  pointer-events: none;
  &.visible {
    background-color: #00000077;
    pointer-events: all;
  }
  &.visible>#infoPane {
    transform: translateX(0vh);
  }
}
#infoPane {
  position: absolute;
  bottom: 0px;
  transform: translateY(105%);
  // height: 100vh;
  width: 100vw;
  transition: transform 0.25s ease;
  background-color: white;
  z-index: 1;
  margin: 0px -10px;
  box-sizing: border-box;
  padding: 15px 25px 20px 25px;
  border-radius: 20px 20px 0px 0px;
  #closeInfoPane {
    display: flex;
    align-items: center;
    svg {
      fill: #999;
      width: 22px;
      height: 22px;
    }
    p {
      margin: 0;
      color: #999;
      font-size: 25px;
      font-weight: bold;
      margin-left: 12px;
    }
  }
  h2 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 29px;
  }
  #infoPaneCategory {
    margin: 0px;
    margin-top: -9px;
    font-size: 21px;
    color: #666;
  }
  #infoPaneText {
    font-size: 21px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  #infoPaneLinks {
    display: flex;
    margin-top: 8px;
    a {
      display: flex;
      flex-direction: row;
      border: 2px solid #999;
      border-radius: 10px;
      padding: 8px 18px 8px 10px;
      align-items: center;
      text-decoration: none;
      color: #333;
      svg {
        width:35px;
        height: 35px;
        fill: #777;
      }
      div {
        margin-left: 12px;
        display: flex;
        flex-direction: column;
        p {
          margin: 0;
        }
        .title {
          font-weight: bold;
          font-size: 18px;
          margin-top: -2px;
        }
        .url {
          margin-top: -3px;
        }
      }
    }

  }
}

#questPane, #pointsPane, #settingsPane {
  >div {

  }
}

#pointsPane {
  .pointsDedicatedCont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    svg {
      width: 40px;
      height: 40px;
      fill: var(--grad1);
    }
    p {
      margin: 0;
      margin-left: 10px;
      font-size: 40px;
      font-weight: bold;
      color: var(--grad1)
    }
  }
}

#questsPane {
  position: relative;
  #pointsMainContainer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 18px;
    right: 18px;
    transition: transform 0.25s ease;
    svg {
      width: 26px;
      height: 26px;
      margin-right: 5px;
      fill: var(--text);
    }
    p {
      margin: 0px;
      font-size: 25px;
      font-weight: bold;
    }
    &.adding {
      transform: scale(1.2) translate(-2px, -1px);
      color:  var(--grad1);
      svg {
        fill:  var(--grad1);
      }
    }
    &.subtracting {
      transform: scale(1.2) translate(-2px, -1px);
      color: #dc1c1c;
      svg {
        fill: #dc1c1c;
      }
    }
  }
}

#settingsPane {
  >div {
    padding-left: 20px;
  }
  h1 {
    margin-left: -20px;
  }
  h2 {
    margin: 15px 0px 2px -10px;
    font-weight: normal;
    &:first-of-type {
      margin-top: -10px;
    }
  }
}

.button {
	display: inline-flex;
	padding: 4px 6px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
	border: 2px solid black;
  margin-top: 10px;
	svg {
		width: 25px;
		height: 25px;
		fill: black;
	}
	p {
		font-weight: bold;
		margin: 0;
		font-size: 22px;
		margin-left: 4px;
		margin-right: 4px;
	}
	&.green {
		border: 2px solid #00A62B;
		svg {
			fill: #00A62B;
		}
		p {
			color: #00A62B;
		}
	}
	&.red {
		border: 2px solid #A60000;
		svg {
			fill: #A60000;
		}
		p {
			color: #A60000;
		}
	}
}

.circles {
	display: flex;
	div {
		width: 45px;
		height: 45px;
		border-radius: 30px;
		cursor: pointer;
		font-weight: bold;
		font-size: 32px;
		border: 2px solid #666;
		color: #666;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
		p {
			// transform: translateY(-2px);
		}
		&.selected {
			color: white;
			background-color: var(--grad1);
			border-color:  var(--grad1);
		}
	}
}

.navigation-buttons {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  // box-shadow: 0px 0px 10px -3px #000;
  border-top: 1px solid #bbb;
  // margin: 0 -10px -10px -10px;
  div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    &.active>svg {
      fill: #4d4d4d;
    }
  }
  svg {
    width: 38px;
    height: 40px;
    stroke: #4d4d4d;
    fill: transparent;
    transition: fill 0.25s ease;
  }

}

.modal-background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #00000077;
  // backdrop-filter: blur(4px);
  // -webkit-backdrop-filter: blur(4px);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.25s ease;
  &.hidden {
    pointer-events: none;
    opacity: 0;

  }
}

.modal {
	border-radius: 12px;
	overflow: hidden;
	background-color: #fff;
	width: 240px;
	font-size: 20px;
	>div {
		padding: 12px 12px;
		border-bottom: 2px solid #888;
		display: flex;
		align-items: center;
		cursor: pointer;
    // user-select: none;
    // -webkit-user-select: none;
		&:hover, &:active {
			background-color: #00000022;
		}
		p {
			margin: 0;
			flex: 1;
			color: #4d4d4d;
		}
		svg {
			fill: #4d4d4d;
			height: 23px;
			width: 23px;
			// justify-self: right;
			// flex: 1;
		}
	}
	.complete {
		// background: linear-gradient(-45deg, #00805F, #00BF07);
			background: linear-gradient(-45deg, #00805F, #00BF07, #333, #333);
		background-size: 320% 320%;
		transition: background-position 0.25s ease;
		border: none;
		&:active {
			background-position: 100%, 100%;
		}
		p {
			color: white;
			font-weight: 600;
		}
		svg {
			fill: white;
		}
	}
	.danger {
		p {
			color: #d11818;
		}
		svg {
			width: 20px;
			height: 20px;
			margin-left: -10px;
			fill: #c51d1d;
		}
	}
	.close {
		text-align: center;
		font-weight: 600;
		padding: 8px 0px;
		border: none;
	}
}

.pane-title {
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 35px;
}
.bonus-title {
  font-size: 25px;
  margin: 14px 0px 0px 0px;
  display: none;
  &.visible {
    display: block;
  }
}

.quest {
	max-width: 400px;
	height: 80px;
	background-color: transparent;
	border: 2.5px solid #666;
	border-radius: 15px;
	box-sizing: border-box;
	background: linear-gradient(-45deg, var(--grad2), var(--grad1), var(--background), var(--background));
	background-size: 320% 320%;
	background-position: 5% 5%;
	transition: background-position 0.5s ease, border-color 0.25s ease;
	display: flex;
	font-family: "Source Sans", sans-serif;
  user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
  margin-top: 10px;
	.check-box {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 100%;
		width: 55px;
		svg {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: opacity 0.5s ease;
		}
		svg:first-child {
			fill: white;
			width: 27px;
			height: 27px;
			opacity: 0;
		}
		svg:last-child {
			width: 27px;
			height: 27px;
			fill: transparent;
			stroke: #666;
			opacity: 1;
		}
	}
	.text {
		flex: 1;
		p {
			color: #666;
			transition: color 0.5s ease;
		}
		p:first-child {
			font-weight: bold;
			margin-top: 8px;
			margin-bottom: 0px;
			font-size: 22px;
		}
		p:last-child {
			margin-top: 0px;
      font-size: 17px;
		}
	}
	.points {
		margin: -2px 12px 0px 12px;
		display: flex;
		height: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 26px;
		p {
			font-weight: bold;
			font-size: 24px;
			color: #666;
			margin-top: 0px;
			margin-bottom: 0px;
			transition: color 0.5s ease;

		}
		svg {
			width: 20px;
			height: 20px;
			fill: #666;
			transition: fill 0.5s ease;
		}
	}
	&.bonus {
		// border-style: dashed;
    border-color: #999;
    border-width: 2.5px;
	}
	&.completed {
		.check-box {
			svg:first-child {
				opacity: 1;
			}
			svg:last-child {
				opacity: 0;
			}
		}
		.text p {
			color: white;
		}
		.points {
			p {
				color: white;
			}
			svg {
				fill: white;
			}
		}
		background-position: 95% 95%;
		border-color: transparent;
  }
}
.add-quest {
	max-width: 400px;
	height: 70px;
  margin-top: 10px;
	border: 3px solid #666;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Source Sans", sans-serif;
	box-sizing: border-box;
  user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	svg {
		width: 25px;
		height: 25px;
		margin-top: 7px;
		fill: #666;
	}
	p {
		margin-top: 3px;
		font-weight: bold;
		color: #666;
		font-size: 20px;
	}
}
.add-quest.hidden {
  display: none;
}
